*{
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
}

body{
	margin: 0;
    padding:0;
	background-color: #ccc;
    color: #222;
}

header, footer, div{
    width:1000px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

header, footer{
	padding: 20px;
	background-color:#8c1d40;
	color: #fff;
	text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

nav{
    background-color: #ffc627;
}

nav ul{
    padding: 0;
}

nav li{
    list-style: none;
}

nav a:link{
    display: block;
    background-color: #8c1d40;
    color: #fff;
    padding: 8px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

nav a:hover{
    background-color: #fff;
    color: #8c1d40;
}

main{
    background-color: #fff;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    text-align: left;
}
main a:link{
    color: #8c1d40;
    font-weight: bold;
}

main a:hover{
    background-color: #8c1d40;
    color: #fff;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

p, q{
  color: #444;  
}

q{
    font-style: italic;
}

footer a:link{
    color:#fff;
    display: inline-block;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 8px;
    padding-bottom: 8px;
    font-weight: normal;
}
footer a:hover{
    color: #ffc627;
}

address{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

#grid-container{
    display:grid;
    grid-template-columns: 1.5fr 5fr;
}

.year{
    background-color: #ffc627;
    color: #555;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    font-size: 20px;
    font-weight: bold;
}